.c-form {
  margin: 15px 2%;
  padding: 10px 0px;

  background: $Background-Color-Level-2;
  border-radius: 3px;
  box-shadow: $Shadow;

  & > input {
    display: block;
    margin: 10px auto;
  }

  & > button {
    display: block;
    margin: 10px auto;
  }

}
