.site-content {
  position: fixed;
  width: 92%;
  max-width: 1110px;
  height: 95%;
  left: 50%;
  padding: 1% 2%;
  transform: translateX(-50%);
  z-index: -1;

  font-family: $PrimaryFont;
  background: $Background-Color-Level-1;
  box-shadow: $Shadow;
  border-radius: 3px;

  & > h1 {
    color: $PL-Color-3;
  }

  @media only screen and (min-width: 812px) {
    width: 72%;
  }

}
