.unlock-icon {
  color: $PL-Color-5;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 13px;
  height: 6px;
  border: solid 1px currentColor;
  border-radius: 1px;

  &:before {
    content: '';
    position: absolute;
    left: 3px;
    top: -8px;
    width: 5px;
    height: 4px;
    border-radius: 4px 4px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
  }

  &:after {
    content: '';
    position: absolute;
    left: 3px;
    top: -4px;
    width: 1px;
    height: 3px;
    background-color: currentColor;
  }

  &:hover {
    color: $PL-Color-3
  }

}
